header {
    background: $back-col;
    color: $font-col;
    
}
.header__logo{
 background-color: $font-col;

}
.nav{

}

.nav__ul{
display:flex;
justify-content: flex-end;

}

.nav__li{
    border-radius: 6px;
    background-color: $blue;
    color: $pop;
    list-style: none;
    margin: 5px;
    padding: 5px;
    border: 1px solid $font-col;
}