
                body {
                    font-family: 'Abel', sans-serif;
                    margin: 5%;
                    }
                    
                    h3{
                        font-family: 'Staatliches', cursive;
                    }
                    
                    #logga {
                        position: absolute;
                        top: 10%;
                        left: 60%;
                    }
                    
                    .fakta{
                        display:flex;
                        justify-content: flex-start;
                        margin-left: -2.5rem;
                    }
                    
                    .fakta__konstanter {
                        font-weight: bold;
                    }
                    ul{
                        list-style: none;
                    }
                    li{
                        list-style:none;
                    }
                    
                    #pdfbtn {
                    
                      font-size: 16px;
                      padding: 10px;
                      background: #fff;
                      border: 1px solid black;
                      font-family: 'Abel', sans-serif;
                    
                    }
                    
                    #betalningrubrik {
                        position: relative;
                    
                        font-family: 'Staatliches', cursive;
                    
                                    }
                     /* #cart-list {
                      background: #e7e7e9;
                      height: 50%;
                      width: 80%;
                      border: 10px solid #e7e7e9;
                      position: relative;
                      top: 50px;
                      display: grid;
                    */

                    
                    
                    .c-item {
                      padding: 10px;
                      margin-bottom: 10px;
                    }
                    .c-qty, .c-name {
                      display: inline-block;
                    }
                    .c-qty {
                      margin-right: 10px;
                      width: 2rem;
                      font-size: 12px;
                      padding: 15px;
                      background: #e7e7e9;
                      border: 1px solid black;
                    }
                    .c-checkout {
                      background: #fff;
                      font-family: $font-famrubrik;
                      font-size: 16px;
                      padding: 15px;
                    
                    }
                    
                    
                    .c-checkoutmoms {
                      font-family: $font-fam;
                      background: #fff;
                      font-size: 12px;
                      padding: 15px;
                      background: #e7e7e9;
                      border: none;
                    
                    }
                    
                    .c-checkoutexmoms {
                      font-family: $font-fam;
                      background: #fff;
                      font-size: 12px;
                      padding: 15px;
                      background: #e7e7e9;
                      border: none;
                    
                    }
                    
                    .closebtn {
                        font-family: $font-fam;
                      background: #fff;
                      font-size: 12px;
                      padding: 10px;
                      background: #e7e7e9;
                      border: none;
                      margin-right: 10px;
                    
                      
                    }
                    
                    .btn {
                        font-family: $font-fam;
                      background: #fff;
                      font-size: 12px;
                      padding: 10px;
                      background: #e7e7e9;
                      border: none;
                    
                    }
                    
                    /* popup */
                    
                    .form-popup {
                        display: none;
                        position: absolute;
                        bottom: 15%;
                        left: 50%;
                        border: 3px solid #f1f1f1;
                        z-index: 9;
                        margin:1rem;
                      }
                    
                      .open-button {
                        background-color:#555;
                        color: white;
                        padding: 16px 20px;
                        border: none;
                        cursor: pointer;
                        opacity: 0.8;
                        
                        margin:1rem;
                      }
                    
                      .form-container {
                        max-width: 300px;
                        padding: 10px;
                        background-color: white;
                      }
                    
                      .form-container input[type=text], .form-container input[type=text] {
                        width:90%;
                        padding: 15px;
                        margin: 5px 0 22px 0;
                        border: none;
                        background: #f1f1f1;
                      }
                    
                      .form-container input[type=text]:focus, .form-container input[type=text]:focus {
                        background-color: #ddd;
                        outline: none;
                      }
                      