/* Css till footer */
.footer {
    background:$light-gray;
    display: flex;
    justify-content: space-around;
    border: 1rem solid white;
    height: 12rem;
    line-height: 24px;

.copy {
    font-size: 12px;
    text-transform: uppercase;
}



#a:link {
    text-decoration: none;
    color:black;
}

#a:visited {
    text-decoration: none;
    color: black;
}

h4 {
        font-family: 'Staatliches', cursive;
    }

}

@media screen and (max-width: 768px) {
    .footer {
        font-size: 11px;
        height: 10rem;
       
    }
    .copy {
        font-size: 7px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .logga {
        width: 100px;
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {

    .footer {
        display: grid;
        height: 25rem;
    }
#kontex {
    grid-row-start: 1;
    grid-column-start: 1;
}
#kundtjanst {
    grid-row-start: 1;
    grid-column-start: 2;

}
#foljoss {
    grid-row-start: 2;
    grid-column-start: 1;

}
#betalning {
    grid-row-start: 2;
    grid-column-start: 2;
}

}