/* Css till indexsidan- första diven och leverans/fraktfritt */
.del-1 {
    border: 1rem solid white;
    height: 25rem;
    background: url("../bilder/headerbg2.jpg");
    background-size: cover;
    background-position: bottom;

    h3 {
        font-family: $font-famrubrik;
    }
    
    h4 {
        font-family: $font-famrubrik;
    }
}



#kontorsmaterial {
    height: $kontorsmat-height;
    width: 40%;
    background-color: $bgcol-white;
    padding: $kontorsmat-padding;
    position: relative;
    top: 20%;
    left: 20%;
    opacity: 0.75;
    overflow: scroll;
    border: 0.3rem solid #f0dae6;

}

#tillprodukterna {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 13px;
}


    #tillprodukterna:link {
    text-decoration: none;
    color: $link-col;
}

    #tillprodukterna:visited {
    text-decoration: none;
    color: $link-col;
}


.leveransochfraktfritt {
    height: 4.3rem;
    padding: rem;
    border: 1rem solid white;
    background: $light-gray;
    text-transform: uppercase;
    font-family: $font-famrubrik;
    font-size: $leverans-fontsize;
    letter-spacing: 4px;
    display: flex;
    justify-content:space-around; 
  
}

/* Mediaqueieries till kontormat & leverans/fraktfritt */

@media screen and (max-width: 768px) {
    .leveransochfraktfritt {
        font-size: 14px;
        height: 4rem;
        text-align: center;
    }

    #kontorsmaterial {
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    .leveransochfraktfritt {
        font-size: 16px;
        height: 4rem;
        text-align: center;
    }
}
