.navbar {
    background: $light-gray;
    display: flex;
    padding-right: 38px;
    overflow: hidden;
    list-style-type: none;
    justify-content: space-around;
    border: 1rem solid white;
    
    li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    opacity: 1;
    transition: 0.2s;
    text-decoration: none;
    }
    li a:hover {
    color: black;
    opacity: 1;
  }
  

 
}