
/* Css till produkter */

#produktrubrik {
  margin: auto;
  top: 20%;
  text-align: center;
  padding: 3rem;
  font-family: $font-famrubrik;
letter-spacing: 10px;
color: $light-pink;
font-size: 40px;
}

#cart-wrap { 
  margin: auto;
  overflow: none;
  
}

#cart-products { width: 70% }
#cart-list { width: 22% }
#cart-products, #cart-list { padding: 20px }

#cart-products {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 768px) {

  #cart-wrap {}
  #cart-products {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 70% ;
  }
}



.p-item {
  padding: 30px;
  border: 3px solid #f0dae6;
  background: #e7e7e9;
}
.p-img {
  display: block;
  margin: 0 auto;
  border: 3px solid #ffffff;

}
.p-name {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
  
}
.p-price {
  color: black;
  font-weight: bold;
  text-align: center;
 letter-spacing: 5px;
}
.p-desc {
  padding: 20px;
  color: #888;
  font-size: 0.9em;
}

.p-add {
  background: #f0dae6;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-transform: uppercase;
  font-family: $font-famrubrik;
font-size: 16px;
}

.p-add:hover {
  opacity: 0.7;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;}

/* Kundvagn */

#cart-list {
 background: #e7e7e9;
  height: 60%;
  border: 2px solid #f0dae6;
  position: absolute;
  top: 61.5%;
  left: 72%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

}

@media screen and (max-width: 768px) {
  #cart-list {
  position: absolute;
  top: 60%;
  left: 55%;
  width: 35%;
}
 .c-item {
   padding: 1px;
   margin-bottom: 1px;
   width: 60%;
 }
 .c-qty, c-name {
   padding: 1px;
   margin-bottom: 1px;
 }

 .c-checkoutmoms {
   background: none;
   width: 60%;
 }

 .c-checkoutexmoms {
  background: none;
  width: 35%;
  font-size: 8px;
}
.c-empty, .c-checkout {
  border: none;
  padding: 2px;
  width: 80%;
  
}
}

@media screen and (max-width: 1000px) {
  .c-item {
    width: 60%;
  }
  .c-checkoutmoms{
    width: 60%;
  }

  .c-checkoutexmoms{
    width: 60%;
  }
  .c-empty, .c-checkout {
    border: none;
    padding: 2px;
    width: 75%;
}}

#cart-list div.c-item:nth-child(odd) {
}
.c-item {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.c-qty, .c-name {
  display: inline-block;
}
.c-qty {
  margin-right: 10px;
  width: 2rem;
}
.c-empty, .c-checkout {
  border: none;
  padding: 10px;
  
}
.c-empty {
  background: #f0dae6;
  font-family: $font-famrubrik;
  font-size: 16px;
  padding: 15px;

}

.c-empty:hover {
  opacity: 0.7;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.c-checkout {
  background: #fff;
  font-family: $font-famrubrik;
  font-size: 16px;
  padding: 15px;

}

.c-checkout:hover {
  opacity: 0.7;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.cart-productss img {
    width: 100%;
    height: 43%;
}

.c-checkoutmoms {
  font-family: $font-fam;
  background:none;
  font-size: 12px;
  padding: 15px;
  background: #e7e7e9;
  border: none;

}

.c-checkoutexmoms {
  font-family: $font-fam;
  background: none;
  font-size: 16px;
  padding: 15px;
  background: #e7e7e9;
  border: none;
  font-weight: bold;
}

