.dropbtn {
  background: $nav-back;
  color: $bgcol-white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.dropbtn:focus {
  outline: none;
}

.dropbtn:hover {
  color: $link-col;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 17px;
  padding: 14px 10px 12px 45px;
  background: $nav-back;
  border: solid 1px $link-col;
  border-radius: 10px;
}

#myInput::placeholder {
  color: $link-col;
}

#myInput:focus::placeholder {
  color: $bgcol-white;
}

#myInput:focus {
  outline: none;
  color: $bgcol-white;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 60%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 245px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content {
  a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.show {
  display: block;
}

.search-content {
  color: white;
  background: $nav-back;
  border-radius: 10px;
  border: solid 1px $link-col;
  white-space: nowrap;
  font-size: 20px;
}

.search-content img {
  width: 100%;
}

.search-btn {
  background: $light-pink;
  border: none;
}

.search-btn:focus {
  outline: none;
}
