$font-fam: 'Abel', sans-serif;
$font-famrubrik: 'Staatliches', cursive;
$font-size: 18px;
$nav-back: lightgrey;
$kontorsmat-height: 15rem;
$kontorsmat-width: 15rem;
$bgcol-white: white;
$kontorsmat-padding: 1rem; 
$kontorsmat-pos: relative;
$link-col: gray;
$light-gray: #e7e7e9;
$leverans-fontsize: 23px;
$light-pink: #f0dae6;
