* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

body {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.container {
    margin: auto;
    width: 90%;
}

.navbar {
    background: lightgrey;
    display: flex;
    padding-right: 38px;
    overflow: hidden;
    list-style-type: none;
    justify-content: space-around;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    opacity: 1;
    transition: 0.2s;
    
  }
  
  li a:hover {
    color: black;
    opacity: 1;
  }
.del-1 {
    border: 1rem solid white;
    height: 25rem;
    background: url("bilder/headerbg2.jpg");
    background-size: cover;
    background-position: bottom;
}

h3 {
    font-family: 'Staatliches', cursive;
}

h4 {
    font-family: 'Staatliches', cursive;
}

#kontorsmaterial {
    height: 15rem;
    width: 30%;
    background-color: white;
    padding: 1rem;
    position: relative;
    top: 20%;
    left: 20%;
    opacity: 0.75;
    overflow: scroll;
    border: 0.3rem solid #f0dae6;

}

#tillprodukterna {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 13px;
}

#tillprodukterna:link {
    text-decoration: none;
    color: gray;
}

#tillprodukterna:visited {
    text-decoration: none;
    color: gray;
}

.del-2 {
    height: 4.3rem;
    padding: rem;
    border: 1rem solid white;
    background: #e7e7e9;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 23px;
    letter-spacing: 4px;
    display: flex;
    justify-content:space-around; 
  
}

.bild {
    height: 35rem;
    border: 1rem solid white;

    background: url(bilder/banner.jpg);
    background-image: cover;
    bottom: 30%;
    background-size: 100%;
}

.omosspaket {
    border: 1rem solid white;

    background-color:#e7e7e9;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#omoss {
    width: 25rem;
    background-color: white;
    padding: 1rem;
    opacity: 0.9;
    overflow: scroll;
border: 0.3rem solid #f0dae6;
}

#vårapaket {
    width: 25rem;
    background: white;
    padding: 1rem;
    opacity: 0.9;
    border: 0.3rem solid #f0dae6;

}

footer {
    background:#e7e7e9;
    display: flex;
    justify-content: space-around;
    border: 1rem solid white;
    height: 12rem;
}

.copy {
    font-size: 12px;
    text-transform: uppercase;
}

#länk:visited {
        text-decoration: none;
        color: black;
}

#länk:link {
    text-decoration: none;
    color:black;
}